*~
*.o
.vagrant/
core
*.log
*.wav
*.flac
*.opus
*.a
check-0.9.14/
*.tar.gz
# programs
examples/play-file
examples/play-sample
# test programs
test/check-list
test/check-metro
# opus
opus-1.1/
opus-tools-0.1.9/
